wsdl/ocpp/cs/_2010/_08/CentralSystemService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
Copyright Logica 2010

All rights reserved. This document is protected by international copyright law and may not be reprinted,
reproduced, copied or utilised in whole or in part by any means including electronic, mechanical,
or other means without the prior written consent of Logica. 


Whilst reasonable care has been taken by Logica to ensure the information contained herein is
reasonably accurate, Logica shall not, under any circumstances be liable for any loss or damage
(direct or consequential) suffered by any party as a result of the contents of this publication or
the reliance of any party thereon or any inaccuracy or omission therein. The information in this
document is therefore provided on an "as is" basis without warranty and is subject to change
without further notice and cannot be construed as a commitment by Logica. 


The products mentioned in this document are identified by the names, trademarks, service marks and
logos of their respective companies or organisations and may not be used in any advertising or publicity
or in any other way whatsoever without the prior written consent of those companies or organisations
and Logica.
--><wsdl:definitions targetNamespace="urn://Ocpp/Cs/2010/08/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn://Ocpp/Cs/2010/08/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="CentralSystemService_InlineSchema1.mxsd"/>
        <binding hasEncoding="false" imported="true" name="CentralSystemServiceSoap" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>

  <wsp:Policy wsu:Id="ServicePolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn://Ocpp/Cs/2010/08/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:include schemaLocation="CentralSystemService_InlineSchema1.mxsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="Header">
    <wsdl:part element="tns:chargeBoxIdentity" name="ChargeBoxIdentity"/>
  </wsdl:message>

  <wsdl:message name="AuthorizeInput">
    <wsdl:part element="tns:authorizeRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="AuthorizeOutput">
    <wsdl:part element="tns:authorizeResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="StartTransactionInput">
    <wsdl:part element="tns:startTransactionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="StartTransactionOutput">
    <wsdl:part element="tns:startTransactionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="StopTransactionInput">
    <wsdl:part element="tns:stopTransactionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="StopTransactionOutput">
    <wsdl:part element="tns:stopTransactionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="HeartbeatInput">
    <wsdl:part element="tns:heartbeatRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="HeartbeatOutput">
    <wsdl:part element="tns:heartbeatResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="MeterValuesInput">
    <wsdl:part element="tns:meterValuesRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="MeterValuesOutput">
    <wsdl:part element="tns:meterValuesResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="BootNotificationInput">
    <wsdl:part element="tns:bootNotificationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="BootNotificationOutput">
    <wsdl:part element="tns:bootNotificationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="StatusNotificationInput">
    <wsdl:part element="tns:statusNotificationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="StatusNotificationOutput">
    <wsdl:part element="tns:statusNotificationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="FirmwareStatusNotificationInput">
    <wsdl:part element="tns:firmwareStatusNotificationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="FirmwareStatusNotificationOutput">
    <wsdl:part element="tns:firmwareStatusNotificationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="DiagnosticsStatusNotificationInput">
    <wsdl:part element="tns:diagnosticsStatusNotificationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="DiagnosticsStatusNotificationOutput">
    <wsdl:part element="tns:diagnosticsStatusNotificationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="CentralSystemService">

    <wsdl:operation name="Authorize">
      <wsdl:input message="tns:AuthorizeInput" wsaw:Action="/Authorize"/>
      <wsdl:output message="tns:AuthorizeOutput"/>
    </wsdl:operation>

    <wsdl:operation name="StartTransaction">
      <wsdl:input message="tns:StartTransactionInput" wsaw:Action="/StartTransaction"/>
      <wsdl:output message="tns:StartTransactionOutput"/>
    </wsdl:operation>

    <wsdl:operation name="StopTransaction">
      <wsdl:input message="tns:StopTransactionInput" wsaw:Action="/StopTransaction"/>
      <wsdl:output message="tns:StopTransactionOutput"/>
    </wsdl:operation>

    <wsdl:operation name="Heartbeat">
      <wsdl:input message="tns:HeartbeatInput" wsaw:Action="/Heartbeat"/>
      <wsdl:output message="tns:HeartbeatOutput"/>
    </wsdl:operation>

    <wsdl:operation name="MeterValues">
      <wsdl:input message="tns:MeterValuesInput" wsaw:Action="/MeterValues"/>
      <wsdl:output message="tns:MeterValuesOutput"/>
    </wsdl:operation>

    <wsdl:operation name="BootNotification">
      <wsdl:input message="tns:BootNotificationInput" wsaw:Action="/BootNotification"/>
      <wsdl:output message="tns:BootNotificationOutput"/>
    </wsdl:operation>

    <wsdl:operation name="StatusNotification">
      <wsdl:input message="tns:StatusNotificationInput" wsaw:Action="/StatusNotification"/>
      <wsdl:output message="tns:StatusNotificationOutput"/>
    </wsdl:operation>

    <wsdl:operation name="FirmwareStatusNotification">
      <wsdl:input message="tns:FirmwareStatusNotificationInput" wsaw:Action="/FirmwareStatusNotification"/>
      <wsdl:output message="tns:FirmwareStatusNotificationOutput"/>
    </wsdl:operation>

    <wsdl:operation name="DiagnosticsStatusNotification">
      <wsdl:input message="tns:DiagnosticsStatusNotificationInput" wsaw:Action="/DiagnosticsStatusNotification"/>
      <wsdl:output message="tns:DiagnosticsStatusNotificationOutput"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="CentralSystemServiceSoap" type="tns:CentralSystemService">

    <wsp:PolicyReference URI="#ServicePolicy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="Authorize">
      <soap12:operation soapAction="/Authorize" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StartTransaction">
      <soap12:operation soapAction="/StartTransaction" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StopTransaction">
      <soap12:operation soapAction="/StopTransaction" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Heartbeat">
      <soap12:operation soapAction="/Heartbeat" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="MeterValues">
      <soap12:operation soapAction="/MeterValues" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="BootNotification">
      <soap12:operation soapAction="/BootNotification" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StatusNotification">
      <soap12:operation soapAction="/StatusNotification" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FirmwareStatusNotification">
      <soap12:operation soapAction="/FirmwareStatusNotification" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DiagnosticsStatusNotification">
      <soap12:operation soapAction="/DiagnosticsStatusNotification" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <!-- The OCPP Central System Service -->
  <wsdl:service name="CentralSystemService">
    <wsdl:documentation>The Central System Service for the Open Charge Point Protocol</wsdl:documentation>
    <wsdl:port binding="tns:CentralSystemServiceSoap" name="CentralSystemServiceSoap12">
      <soap12:address location="http://localhost/Ocpp/CentralSystemService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>