wsdl/ocpp/cp/_2012/_06/ocpp_chargepointservice_1.5_final.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
OCPP Charge Point service description
Version 1.5 draft for approval (1.5 RC4)

Copyright e-laad.nl. Free to use without modifications.

See: http://ev-services.net/ocpp/
--><wsdl:definitions targetNamespace="urn://Ocpp/Cp/2012/06/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn://Ocpp/Cp/2012/06/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="ocpp_chargepointservice_1.5_final_InlineSchema1.mxsd"/>
        <binding hasEncoding="false" imported="true" name="ChargePointServiceSoap" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>

  <wsp:Policy wsu:Id="ServicePolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn://Ocpp/Cp/2012/06/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- Begin of types shared with CentralSystemService --><!-- End of types shared with CentralSystemService --><xsd:include schemaLocation="ocpp_chargepointservice_1.5_final_InlineSchema1.mxsd"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="Header">
    <wsdl:part element="tns:chargeBoxIdentity" name="ChargeBoxIdentity"/>
  </wsdl:message>

  <wsdl:message name="UnlockConnectorInput">
    <wsdl:part element="tns:unlockConnectorRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="UnlockConnectorOutput">
    <wsdl:part element="tns:unlockConnectorResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ResetInput">
    <wsdl:part element="tns:resetRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ResetOutput">
    <wsdl:part element="tns:resetResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeAvailabilityInput">
    <wsdl:part element="tns:changeAvailabilityRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeAvailabilityOutput">
    <wsdl:part element="tns:changeAvailabilityResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetDiagnosticsInput">
    <wsdl:part element="tns:getDiagnosticsRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetDiagnosticsOutput">
    <wsdl:part element="tns:getDiagnosticsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ClearCacheInput">
    <wsdl:part element="tns:clearCacheRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ClearCacheOutput">
    <wsdl:part element="tns:clearCacheResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="UpdateFirmwareInput">
    <wsdl:part element="tns:updateFirmwareRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="UpdateFirmwareOutput">
    <wsdl:part element="tns:updateFirmwareResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeConfigurationInput">
    <wsdl:part element="tns:changeConfigurationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ChangeConfigurationOutput">
    <wsdl:part element="tns:changeConfigurationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStartTransactionInput">
    <wsdl:part element="tns:remoteStartTransactionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStartTransactionOutput">
    <wsdl:part element="tns:remoteStartTransactionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStopTransactionInput">
    <wsdl:part element="tns:remoteStopTransactionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="RemoteStopTransactionOutput">
    <wsdl:part element="tns:remoteStopTransactionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="CancelReservationInput">
    <wsdl:part element="tns:cancelReservationRequest" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="CancelReservationOutput">
    <wsdl:part element="tns:cancelReservationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="DataTransferInput">
    <wsdl:part element="tns:dataTransferRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="DataTransferOutput">
    <wsdl:part element="tns:dataTransferResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetConfigurationInput">
    <wsdl:part element="tns:getConfigurationRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetConfigurationOutput">
    <wsdl:part element="tns:getConfigurationResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetLocalListVersionInput">
    <wsdl:part element="tns:getLocalListVersionRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="GetLocalListVersionOutput">
    <wsdl:part element="tns:getLocalListVersionResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ReserveNowInput">
    <wsdl:part element="tns:reserveNowRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="ReserveNowOutput">
    <wsdl:part element="tns:reserveNowResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="SendLocalListInput">
    <wsdl:part element="tns:sendLocalListRequest" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="SendLocalListOutput">
    <wsdl:part element="tns:sendLocalListResponse" name="parameters"/>
  </wsdl:message>
   
  <wsdl:portType name="ChargePointService">

    <wsdl:operation name="UnlockConnector">
      <wsdl:input message="tns:UnlockConnectorInput" wsaw:Action="/UnlockConnector"/>
      <wsdl:output message="tns:UnlockConnectorOutput" wsaw:Action="/UnlockConnectorResponse"/>
    </wsdl:operation>

    <wsdl:operation name="Reset">
      <wsdl:input message="tns:ResetInput" wsaw:Action="/Reset"/>
      <wsdl:output message="tns:ResetOutput" wsaw:Action="/ResetResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ChangeAvailability">
      <wsdl:input message="tns:ChangeAvailabilityInput" wsaw:Action="/ChangeAvailability"/>
      <wsdl:output message="tns:ChangeAvailabilityOutput" wsaw:Action="/ChangeAvailabilityResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetDiagnostics">
      <wsdl:input message="tns:GetDiagnosticsInput" wsaw:Action="/GetDiagnostics"/>
      <wsdl:output message="tns:GetDiagnosticsOutput" wsaw:Action="/GetDiagnosticsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ClearCache">
      <wsdl:input message="tns:ClearCacheInput" wsaw:Action="/ClearCache"/>
      <wsdl:output message="tns:ClearCacheOutput" wsaw:Action="/ClearCacheResponse"/>
    </wsdl:operation>

    <wsdl:operation name="UpdateFirmware">
      <wsdl:input message="tns:UpdateFirmwareInput" wsaw:Action="/UpdateFirmware"/>
      <wsdl:output message="tns:UpdateFirmwareOutput" wsaw:Action="/UpdateFirmwareResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ChangeConfiguration">
      <wsdl:input message="tns:ChangeConfigurationInput" wsaw:Action="/ChangeConfiguration"/>
      <wsdl:output message="tns:ChangeConfigurationOutput" wsaw:Action="/ChangeConfigurationResponse"/>
    </wsdl:operation>

    <wsdl:operation name="RemoteStartTransaction">
      <wsdl:input message="tns:RemoteStartTransactionInput" wsaw:Action="/RemoteStartTransaction"/>
      <wsdl:output message="tns:RemoteStartTransactionOutput" wsaw:Action="/RemoteStartTransactionResponse"/>
    </wsdl:operation>

    <wsdl:operation name="RemoteStopTransaction">
      <wsdl:input message="tns:RemoteStopTransactionInput" wsaw:Action="/RemoteStopTransaction"/>
      <wsdl:output message="tns:RemoteStopTransactionOutput" wsaw:Action="/RemoteStopTransactionResponse"/>
    </wsdl:operation>

    <wsdl:operation name="CancelReservation">
      <wsdl:input message="tns:CancelReservationInput" wsaw:Action="/CancelReservation"/>
      <wsdl:output message="tns:CancelReservationOutput" wsaw:Action="/CancelReservationResponse"/>
    </wsdl:operation>

    <wsdl:operation name="DataTransfer">
      <wsdl:input message="tns:DataTransferInput" wsaw:Action="/DataTransfer"/>
      <wsdl:output message="tns:DataTransferOutput" wsaw:Action="/DataTransferResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetConfiguration">
      <wsdl:input message="tns:GetConfigurationInput" wsaw:Action="/GetConfiguration"/>
      <wsdl:output message="tns:GetConfigurationOutput" wsaw:Action="/GetConfigurationResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetLocalListVersion">
      <wsdl:input message="tns:GetLocalListVersionInput" wsaw:Action="/GetLocalListVersion"/>
      <wsdl:output message="tns:GetLocalListVersionOutput" wsaw:Action="/GetLocalListVersionResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ReserveNow">
      <wsdl:input message="tns:ReserveNowInput" wsaw:Action="/ReserveNow"/>
      <wsdl:output message="tns:ReserveNowOutput" wsaw:Action="/ReserveNowResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="SendLocalList">
      <wsdl:input message="tns:SendLocalListInput" wsaw:Action="/SendLocalList"/>
      <wsdl:output message="tns:SendLocalListOutput" wsaw:Action="/SendLocalListResponse"/>
    </wsdl:operation>
       
  </wsdl:portType>

  <wsdl:binding name="ChargePointServiceSoap" type="tns:ChargePointService">

    <wsp:PolicyReference URI="#ServicePolicy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="UnlockConnector">
      <soap12:operation soapAction="/UnlockConnector" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="Reset">
      <soap12:operation soapAction="/Reset" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ChangeAvailability">
      <soap12:operation soapAction="/ChangeAvailability" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
         <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetDiagnostics">
      <soap12:operation soapAction="/GetDiagnostics" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="/ClearCache" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateFirmware">
      <soap12:operation soapAction="/UpdateFirmware" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="ChangeConfiguration">
      <soap12:operation soapAction="/ChangeConfiguration" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoteStartTransaction">
      <soap12:operation soapAction="/RemoteStartTransaction" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoteStopTransaction">
      <soap12:operation soapAction="/RemoteStopTransaction" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CancelReservation">
      <soap12:operation soapAction="/CancelReservation" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DataTransfer">
      <soap12:operation soapAction="/DataTransfer" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetConfiguration">
      <soap12:operation soapAction="/GetConfiguration" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetLocalListVersion">
      <soap12:operation soapAction="/GetLocalListVersion" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ReserveNow">
      <soap12:operation soapAction="/ReserveNow" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SendLocalList">
      <soap12:operation soapAction="/SendLocalList" style="document"/>
      <wsdl:input>
        <soap12:header message="tns:Header" part="ChargeBoxIdentity" use="literal"/>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  

  <!-- The OCPP ChargePoint service -->
  <wsdl:service name="ChargePointService">
    <wsdl:documentation>The ChargePoint Service for the Open Charge Point Protocol</wsdl:documentation>
    <wsdl:port binding="tns:ChargePointServiceSoap" name="ChargePointServiceSoap12">
      <soap12:address location="http://localhost/Ocpp/ChargePointService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>